{% include "index.html" %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="all col-md-3 m-5">
    <h1>Add Product</h1>
    <form method="POST" action="{{ url_for('add_product') }}">
      <label for="product_id">Product ID:</label>
      <input type="text" class="form-control" id="product_id" name="product_id"><br>
      <input type="submit"  class="btn btn-primary" value="Add">
    </form>
  </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endwith %}
  
</body>
</html>