{% include "index.html" %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit location</title>
</head>
<body>
  <div class="all m-5 col-md-4">
    <h1>Edit location</h1>
    <form method="POST" action="/edit_location/{{location.location_id}}">
      <label class="form-label" for="location_id">location ID:</label>
      <input class="form-control" type="text" id="location_id" name="location_id" value="{{location.location_id}}"><br>
      <input type="submit" class="btn btn-primary" value="Edit">
    </form>
  </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endwith %}
</body>
</html>